.bios{
	color: black;
	font-size: 22px;
	font-family: 'Mirza',cursive;
}

body{
	background-color: #00aba9;
	/*padding-left: 20px;
	padding-right:20px;*/
}

p
{
	padding-left: 20px;
	padding-right: 20px;
	/*color: black;
	font-size: 18px; 
	font-style: courier;*/
}

#syniah{
	/*padding-left: 20px;*/
}

#jassy{
	/*padding-left: 20px;*/
}

#header{
	color: #ff0097;
	font-size: 40px;
	font-family:'Fjalla One',sans-serif;

}
